15-ai-subsidy-hunter/workflow.json
{
  "name": "【v2.0】全自動・補助金ハンター（Google Search × Jina AI × Gemini）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "custom",
        "cx": "YOUR_SEARCH_ENGINE_ID",
        "query": "IT導入補助金 OR 小規模事業者持続化補助金 OR 助成金 最新情報",
        "options": {
          "dateRestrict": "d1"
        }
      },
      "id": "google-search",
      "name": "Google Search API",
      "type": "n8n-nodes-base.googleCustomSearch",
      "typeVersion": 1,
      "position": [220, 0],
      "credentials": {
        "googleCustomSearchApi": {
          "id": "YOUR_GCP_CREDENTIAL",
          "name": "Google Custom Search API"
        }
      }
    },
    {
      "parameters": {},
      "id": "loop-items",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Wait (Rate Limit Avoidance)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/' + $json.link }}",
        "options": {}
      },
      "id": "jina-ai-reader",
      "name": "Jina AI (Web Reader)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたは優秀な経営コンサルタントです。以下のWebページの内容（補助金・助成金情報）を読み、自社（テレワーク推進コンサルティングを行う有限会社）に申請可能で有益な情報かどうかを判定し、要約してください。\n\n【情報ソース】\n{{ $json.data }}\n\n【出力フォーマット】\n### 🎯 適合度（高・中・低・対象外）\n### 💰 補助金の名称\n### 📝 概要と対象者（3行で）\n### 🚀 自社への提案アクション"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-analyze",
      "name": "Gemini: Analyze & Summarize",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [1100, 0],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "channel": "YOUR_SLACK_CHANNEL",
        "text": "={{ $json.content.parts[0].text }}\n\n🔗 元記事: {{ $('Loop Over Items').item.json.link }}",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search API": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait (Rate Limit Avoidance)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit Avoidance)": {
      "main": [
        [
          {
            "node": "Jina AI (Web Reader)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina AI (Web Reader)": {
      "main": [
        [
          {
            "node": "Gemini: Analyze & Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Analyze & Summarize": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
